

body {

font-family: Arial, monospace;
line-height: 1.6;
}
h1 {
  font-size: 32px;

}

.banner {
  background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("images/header.jpg");
  color: #FFFFF0;
  text-align: center;
  padding: 300px;

}

.greybox {
  background-color: #F0F0F0;
  color: #000000 ;
  text-align: center;
  padding: 150px 150px;
}
.whitebox {
  background-color: #FFFFFF;
  color: #000000 ;
  text-align: center;
  padding: 200px 150px;
}
.title {
  background-color: #FFFFFF;
  color: #000000 ;
  text-align: center;

}

.quote {
  background-color: #000000;
  color: #fff;
  position: relative;
  z-index: 1;
  text-align: center;
  padding: 200px 150px;
}
.quote:after {
  background: inherit;
  bottom: 0;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(-1.5deg);
  transform-origin: 100%;
  z-index: -1;
}

.box{
height: 300px;
width: 24%;
background-repeat: no-repeat;
background-size: auto;
background-color: #FFFFFF;

}
.flex-container
{ display:  flex;
  flex-wrap:  wrap;
  justify-content:  center;

}
.avatar{
  border-radius: 50%;
}
